{% extends 'base.html.twig' %}

{% block title %}Modifier Reservation{% endblock %}

{% block body %}
    <h1>Modifier Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}
<div>
    <a href="{{ path('app_reservation_index') }}" class="btn-primary">Retour</a>
</div>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
