<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
</head>
<body>
<h1>Facture</h1>

<p>Nom: {{ facture.nom }}</p>
<p>Total: {{ facture.total }}</p>
<p>Date de Début: {{ facture.dateDebut|date('d-m-Y') }}</p>
<p>Date de Fin: {{ facture.dateFin|date('d-m-Y') }}</p>
</body>
</html>
